@tailwind base;
@tailwind components;
@tailwind utilities;

button > svg {
  margin-right: 5px;
}

@layer components {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  .no-scrollbar {
    scrollbar-width: none;
  }
}
